.event-logo{
    width: 300px !important;
}
.event-logo  img{
    width: 100% !important;
    height: 100% !important;
}

.event-detail{
    margin: auto;
    display: flex;
    justify-content: space-evenly; 
    margin-top: 2cm;
}

.btn{
    /* //margin-left: 5cm; */
    margin-top: 10px;
}