:root {
  --navbar: #5378F8;
  --bg: #E9EDFE; 
  --head: #head;
  --nav: #FFFFF;
  --btny: #F5E878;
  --btng: #37FB06;
  --btnb: #8ECAE6;
  --bshadow: #rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

body{
  min-height: 100vh;
}